@use "../foundation/variables" as v;

.header {
    position: relative;
    background-image: url("/imgs/after.png"), url("/imgs/fv-bg.jpg");
    background-size: cover;
    background-position: center;
    padding-inline: clamp(20px, -131.46px + 40.38vw, 450px);
    padding-block: clamp(40px, -41.69px + 21.78vw, 272px);
    display: flex;
    flex-direction: column; // 縦に並べる
    justify-content: center;


    &__content {
        display: flex;
        flex-direction: column; // 縦に並べる
        justify-content: center; // 上下の中央
        text-align: left;
        max-width: 540px;
    }
    
    &__title {
        font-weight: bold;
        font-size: clamp(40px, 5.56vw, 80px);
        line-height: 1.56;
    }

    &__detail {
        font-size: clamp(10px, 1.39vw, 20px);
        line-height: 1.6;
    }
}

.floating-card {
    background-color: v.$color-white;
    width: clamp(120px,36.42vw,519px);
    padding: clamp(8px,1.11vw,16px);
    position: absolute;
    bottom: 0;
    right: 10.69%;
    transform: translateY(77.59%);

    &__content {
        margin-block: 20px;
        margin-left: 20px;
    }

    &__service {
        font-size: clamp(10px, 1.04vw, 15px);
        color: v.$color-text-sub;
        line-height: 1.67;
    }

    &__detail {
        font-weight: bold;
        font-size: clamp(15px, 2.08vw, 30px);
        line-height: 1.6;
        
    }
}