// 1. Foundation
@use "foundation/variables";
@use "foundation/base";

// 2. Layout
@use "layout/header";
@use "layout/footer";

// 3. Object (ここが object フォルダの中身を読み込む場所です)
@use "object/hero";
@use "object/about";
@use "object/contact";

// 4. Responsive (メディアクエリを最後に置く)
@media (max-width: 768px) {
    .header {
        &__content {
            text-align: center;
        }
    }
    .floating-card {
        right: auto;
        left: 50%;
        transform: translateX(-50%) translateY(70%);
        width: 70%;
        max-width: 200px;

        &__content {
            margin: 0;
        }
    }
    .hero {
        text-align: center;
        padding-top: 100px;
    }
    .about__content {
        flex-direction: column;
        align-items: center;
    }
    .contact__detail {
        align-self: center;
        text-align: center;
    }
}